
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
<% @bookings.each do |booking| %>
<% if booking.renter_id == current_user.id %>

  <tbody>
    <tr>
      <th scope="row"><%= booking.product.id %></th>
      <td><%= booking.product.name %></td>
      <td><%= booking.total_price %></td>
    </tr>
  </tbody>
  
  <% end %>
  <% end %>